@font-face {
    font-family: 'jaro'; /* Choose a custom name for your font */
    src: url('../assets/fonts/Jaro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro'; /* Choose a custom name for your font */
    src: url('../assets/fonts/CrimsonPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../assets/fonts/CrimsonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../assets/fonts/CrimsonPro-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold typically uses 600 */
    font-style: normal;
}

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #380103; /* Dark red background for the page */
    font-family: 'jaro';
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .login_wrapper {
        flex-direction: column;
    }

    .login_main {
        flex: none;
        width: 100%;
        padding: 20px;
    }

    .login_img_wrapper {
        display: none; /* Hide image on smaller screens */
    }
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.deck {
    position: absolute;
    top: 50%; /* Центруємо по вертикалі */
    transform: translateY(-50%); /* Для точного вирівнювання по центру */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.deck-count {
    color: white;
    font-size: 32px;
    margin-bottom: 100px;
}

.action-btn {
    position: absolute;
    padding: 10px 20px;
    background-color: #8b0000;
    color: #FFE3E3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Додає плавний перехід */
    font-family: 'jaro';
}

.action-btn:hover {
    background-color: #FF2525; /* Колір при наведенні */
}

#give-up {
    top: 20px;
    right: 20px;
    width: 180px;
    height: 60px;
    font-size: 28px;
    background-color: #490000; /* Основний колір */
    color: #FFE3E3; /* Колір тексту */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s; /* Плавний перехід кольору */
    box-shadow: inset 0 0 18px #6C0303; /* Внутрішня тінь */
}

#give-up:hover {
    background-color: #FF2525; /* Колір при наведенні */
}


.deck img {
    position: absolute;
    left: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #4F0505, #440303); /* Вертикальний градієнт */
    position: fixed; /* Фіксуємо футер внизу */
    bottom: 0;
    left: 0;
    height: 80px; /* Висота футера */
    color: #FFE3E3;
    z-index: 10; /* Підвищений індекс для поверхневого розташування */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.health {
    font-size: 28px;
    font-weight: bold;
    color: #F2C629;
    text-shadow: 0 4px 12px rgba(70, 55, 0, 0.8);
}

#ready {
    width: 180px;
    height: 60px;
    right: 50px;
    font-size: 28px;
    background-color: #490000;
    color: #FFE3E3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: inset 0 0 18px #6C0303;
}

#ready:hover {
    background-color: #FF2525;
}

#waiting-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
}
  


#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

  }
  
  #opponent-info {
    display: flex;
    align-items: center;
  }
  
  #opponent-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .action-btn {
    padding: 10px 20px;
    background-color: #d23f3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-btn:hover {
    background-color: #e35b5b;
  }

  #game-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  #center-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 300px; */
    min-width: 420px;
    margin-top: -100px;
  }
  
  #player-hand {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;  /* Allows cards to be flexible */
  }
  
  .card {
    width: 160px;
    height: 210px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .card.replacing {
    opacity: 0.7; /* Slightly transparent when it's replaceable */
  }
  
  .card.frozen {
    pointer-events: none; /* Disable interactions when frozen */
  }
  
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .card.dragging {
    opacity: 0.5;
  }
  
  .card-slot {
    width: 100px;
    height: 150px;
    border: 2px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #player-info {
    display: flex;
    align-items: center;
  }
  
  #player-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  #player-hand {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;  /* Allows cards to be flexible */
  }
  
  .card.dragging {
    opacity: 0.5;
    transform: scale(1.1);  /* Scale card when dragging */
  }
  
  #player-slot, #opponent-slot {
    min-width: 184px;
    min-height: 224px;
    border: 2px dashed #ddd;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
  }
  
  #player-slot {
    border-color: rgba(172, 20, 0, 0.74);
  }
  
  #opponent-slot {
    border-color: rgba(90, 0, 0, 0.822);
  }

.player_name {
    font-size: 36px;
    font-weight: 600;
    font-family: 'jaro';
    color: #FFCECE;
}

.avatar {
    width: 75px;
    height: 75px;
}
  
  .card.dragging {
    opacity: 0.5;
    transform: scale(1.1);  /* Enlarges the card when dragging */
  }

#footer-section {
    flex: 0 0 auto; /* Do not grow or shrink, take only its content size */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #4F0505, #440303);
    padding: 10px 40px;
    border-radius: 40px 40px 0 0;
    max-height: 90px;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .wrapper {
    flex: 1; /* Allow this to grow and fill space between header and footer */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-top: -10%;
  }

.footer_timer {
    font-size: 32px;
    background: #B93131;
    background: linear-gradient(to bottom, #B93131 27%, #FFD4D4 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 42px;
}

.deck_discard {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card_deck {
    left: 0;
}

.discard_pile {
    right: 0;
}

 .countdown-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10;
  }
  
  .game-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.deck {
    position: absolute;
    top: 50%; /* Центруємо по вертикалі */
    transform: translateY(-50%); /* Для точного вирівнювання по центру */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.deck-count {
    color: white;
    font-size: 32px;
    margin-bottom: 100px;
}

.action-btn {
    position: absolute;
    padding: 10px 20px;
    background-color: #8b0000;
    color: #FFE3E3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Додає плавний перехід */
    font-family: 'jaro';
}

.action-btn:hover {
    background-color: #FF2525; /* Колір при наведенні */
}

#give-up {
    top: 20px;
    right: 20px;
    width: 180px;
    height: 60px;
    font-size: 28px;
    background-color: #490000; /* Основний колір */
    color: #FFE3E3; /* Колір тексту */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s; /* Плавний перехід кольору */
    box-shadow: inset 0 0 18px #6C0303; /* Внутрішня тінь */
}

#give-up:hover {
    background-color: #FF2525; /* Колір при наведенні */
}


.deck img {
    position: absolute;
    left: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #4F0505, #440303); /* Вертикальний градієнт */
    position: fixed; /* Фіксуємо футер внизу */
    bottom: 0;
    left: 0;
    height: 80px; /* Висота футера */
    color: #FFE3E3;
    z-index: 10; /* Підвищений індекс для поверхневого розташування */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.health {
    font-size: 28px;
    font-weight: bold;
    color: #F2C629;
    text-shadow: 0 4px 12px rgba(70, 55, 0, 0.8);
}

#ready {
    width: 180px;
    height: 60px;
    right: 50px;
    font-size: 28px;
    background-color: #490000;
    color: #FFE3E3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: inset 0 0 18px #6C0303;
}

#ready:hover {
    background-color: #FF2525;
}

#waiting-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
}
  


#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

  }
  
  #opponent-info {
    display: flex;
    align-items: center;
  }
  
  #opponent-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .action-btn {
    padding: 10px 20px;
    background-color: #d23f3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-btn:hover {
    background-color: #e35b5b;
  }

  #game-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  #center-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 300px; */
    min-width: 420px;
    margin-top: -100px;
  }
  
  #player-hand {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;  /* Allows cards to be flexible */
  }
  
  .card {
    width: 160px;
    height: 210px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .card.replacing {
    opacity: 0.7; /* Slightly transparent when it's replaceable */
  }
  
  .card.frozen {
    pointer-events: none; /* Disable interactions when frozen */
  }
  
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .card.dragging {
    opacity: 0.5;
  }
  
  .card-slot {
    width: 100px;
    height: 150px;
    border: 2px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #player-info {
    display: flex;
    align-items: center;
  }
  
  #player-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  #player-hand {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;  /* Allows cards to be flexible */
  }
  
  .card.dragging {
    opacity: 0.5;
    transform: scale(1.1);  /* Scale card when dragging */
  }
  
  #player-slot, #opponent-slot {
    min-width: 184px;
    min-height: 224px;
    border: 2px dashed #ddd;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
  }
  
  #player-slot {
    border-color: rgba(172, 20, 0, 0.74);
  }
  
  #opponent-slot {
    border-color: rgba(90, 0, 0, 0.822);
  }

.player_name {
    font-size: 36px;
    font-weight: 600;
    font-family: 'jaro';
    color: #FFCECE;
}

.avatar {
    width: 75px;
    height: 75px;
}
  
  .card.dragging {
    opacity: 0.5;
    transform: scale(1.1);  /* Enlarges the card when dragging */
  }

#footer-section {
    flex: 0 0 auto; /* Do not grow or shrink, take only its content size */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #4F0505, #440303);
    padding: 10px 40px;
    border-radius: 40px 40px 0 0;
    max-height: 90px;
}