@font-face {
    font-family: 'jaro'; /* Choose a custom name for your font */
    src: url('../assets/fonts/Jaro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro'; /* Choose a custom name for your font */
    src: url('../assets/fonts/CrimsonPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../assets/fonts/CrimsonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../assets/fonts/CrimsonPro-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold typically uses 600 */
    font-style: normal;
}

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #380103; /* Dark red background for the page */
    font-family: 'jaro';
}

/* Wrapper to center content */
.login_wrapper {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    /* Prevent column layout for mobile devices */
    flex-direction: row;
    /* Ensure no scrollbars */
    overflow: hidden;
}

/* Left-side: form section */
.login_main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #380103;
    color: #E4E4E4;
}

.reset_password_actions_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Crimson Pro';
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.login_welcome_to {
    font-size: 24px;
    margin-bottom: -30px;
    color: #B0B0B0;
    font-family: 'Crimson Pro';
    font-weight: 400;
}

.login_logo {
    font-size: 112px;
    font-weight: bold;
    margin: 10px 0;
    color: #B9615B;
    text-transform: uppercase;
}

.signup_text, .login_text {
    font-size: 20px;
    margin: 15px 0;
    font-family: 'Crimson Pro';
    font-weight: 400;
}

.login_form {
    width: 100%;
    max-width: 582px;
    display: flex;
    flex-direction: column;
}


.input_wrapper {
    margin-top: 16px;
    display: flex;
    align-items: center;
    background-color: #5B0000;
    padding: 20px;
    border-radius: 22px;
    color: #FFA0A0;
    font-size: 20px;
    font-family: 'Crimson Pro';
}

input::placeholder {
    color: #FFA0A0;
    font-size: 20px;
    font-family: 'Crimson Pro'; /* Apply Crimson Pro font to placeholder */
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #FFA0A0;
    font-size: 20px;
    font-family: 'Crimson Pro'; /* Apply Crimson Pro font */
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFA0A0;
    font-size: 20px;
    font-family: 'Crimson Pro'; /* Apply Crimson Pro font */
}

input::-webkit-input-placeholder { /* WebKit browsers (Chrome, Safari) */
    color: #FFA0A0;
    font-size: 20px;
    font-family: 'Crimson Pro'; /* Apply Crimson Pro font */
}

.input_wrapper img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input_wrapper input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #f0d7d7;
    font-size: 16px;
}

button {
    width: 582px;
    padding: 16px 100px; /* Reduce padding to allow text to fit in one line */
    background-color: #C30005;
    border: none;
    border-radius: 15px;
    color: #FFA9A1;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Crimson Pro';
    font-weight: 600;
    white-space: nowrap; 
}

button:hover {
    background-color: #e40000;
}

/* Sign up link */
.submit_wrapper {
    margin-top: 30px;
    text-align: center;
}

.signup_wrapper {
    margin-top: 20px;
    text-align: center;
}

.signin_wrapper {
    margin-top: 12px;
    text-align: center;
}

.signup_link, .signin_link {
    text-align: center;
    color: #FFB8BC;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;
}

.signup_link:hover, .signin_link:hover {
    color: #C30005;
}

/* Right-side: image section */
.login_img_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #400303; /* Background for the image section */
    position: relative;
    overflow: hidden;
}

.login_img_wrapper img {
    max-width: 100%;
    /* height: 100%; */
    object-fit: cover;
    opacity: 0.8; /* Slight transparency */
}

.login_actions_wrapper {
    display: flex;
    justify-content: space-between;
    font-family: 'Crimson Pro';
    font-size: 20px;
    font-weight: 600;
}

/* Checkbox style */
.checkbox_wrapper {
    display: flex;
    align-items: center;
    margin: 16px 0;
    color: #FFA0A0; /* Same color as inputs */
    /* font-size: 20px; */
}

.checkbox_wrapper input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2); /* Slightly larger checkbox */
}

.checkbox_wrapper label {
    color: #FFA0A0;
}

/* Forgot password link style */
.forgot_password_wrapper {
    margin-top: 12px;
    text-align: center;
}

.forgot_password_link {
    color: #FFB8BC;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Crimson Pro';
}

.forgot_password_link:hover {
    color: #C30005;
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .login_wrapper {
        flex-direction: column;
    }

    .login_main {
        flex: none;
        width: 100%;
        padding: 20px;
    }

    .login_img_wrapper {
        display: none; /* Hide image on smaller screens */
    }
}

.error_message {
    position: absolute; 
    text-align: right;
    color: #FF4C4C;
    font-family: 'Crimson Pro';
    font-size: 18px;
    display: none;
}

.signup_error_message {
    margin-top: 6px;
    text-align: right;
    color: #FF4C4C;
    font-family: 'Crimson Pro';
    font-size: 18px;
    display: none;
}