@font-face {
    font-family: 'jaro'; /* Choose a custom name for your font */
    src: url('../assets/fonts/Jaro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro'; /* Choose a custom name for your font */
    src: url('../assets/fonts/CrimsonPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../assets/fonts/CrimsonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../assets/fonts/CrimsonPro-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold typically uses 600 */
    font-style: normal;
}

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #380103; /* Dark red background for the page */
    font-family: 'jaro';
}

/* Wrapper to center content */
.login_wrapper {
    display: flex;
    height: 100vh;
}

/* Left-side: form section */
.login_main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #380103; /* Slightly lighter red for contrast */
    color: #E4E4E4; /* Light text color */
}


.login_welcome_to {
    font-size: 24px;
    margin-bottom: 10px;
    color: #B0B0B0;
    font-family: 'Crimson Pro';
    font-weight: 400;
}

.login_logo {
    font-size: 112px;
    font-weight: bold;
    margin: 10px 0;
    color: #B9615B;
    text-transform: uppercase;
}

.login_text {
    font-size: 20px;
    margin: 15px 0;
    font-family: 'Crimson Pro';
    font-weight: 400;
}

.login_form {
    width: 100%;
    max-width: 582px;
}

.input_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #5B0000; /* Darker background for input fields */
    padding: 20px;
    border-radius: 22px;
    color: #FFA0A0;
    font-size: 20px;
    font-family: 'Crimson Pro';
    font-weight: 400;
}

/* Change placeholder color and size for various browsers */
input::placeholder {
    color: #FFA0A0;
    font-size: 20px;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #FFA0A0;
    font-size: 20px;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFA0A0;
    font-size: 20px;
}

input::-webkit-input-placeholder { /* WebKit browsers (Chrome, Safari) */
    color: #FFA0A0;
    font-size: 20px;
}

.input_wrapper img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input_wrapper input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #f0d7d7;
    font-size: 16px;
}

.submit_wrapper {
    text-align: center;
    margin: 20px 0;
}

button {
    width: 100%;
    padding: 16px 230px;
    background-color: #C30005; /* Red for the button */
    border: none;
    border-radius: 15px;
    color: #FFA9A1;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Crimson Pro';
    font-weight: 600;
}

button:hover {
    background-color: #e40000;
}

/* Sign up link */
.signup_wrapper {
    text-align: center;
}

.signup_link {
    color: #FFB8BC;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-weight: 600;
}

.signup_link:hover {
    color: white;
}

/* Right-side: image section */
.login_img_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #400303; /* Background for the image section */
    position: relative;
    overflow: hidden;
}

.login_img_wrapper img {
    max-width: 100%;
    /* height: 100%; */
    object-fit: cover;
    opacity: 0.8; /* Slight transparency */
}

/* .login_img_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #400303; /* Background for the image section */ /*
    position: relative;
    overflow: hidden;
}

.login_img_wrapper img {
    width: 100%; /* Make the image take the full width */ /*
    height: 100%; /* Make the image take the full height */ /*
    object-fit: cover; /* Maintain aspect ratio and cover the area */ /*
    opacity: 0.8; /* Slight transparency */ /*
} */

.login_actions_wrapper {
    display: flex;
    justify-content: space-between;
    font-family: 'Crimson Pro';
    font-size: 20px;
    font-weight: 600;
}

/* Checkbox style */
.checkbox_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #FFA0A0; /* Same color as inputs */
    /* font-size: 20px; */
}

.checkbox_wrapper input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2); /* Slightly larger checkbox */
}

.checkbox_wrapper label {
    color: #FFA0A0;
}

/* Forgot password link style */
.forgot_password_wrapper {
    text-align: right;
    margin-bottom: 15px;
}

.forgot_password_link {
    color: #FFB8BC;
    text-decoration: none;
    /* font-size: 20px; */
}

.forgot_password_link:hover {
    color: white;
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .login_wrapper {
        flex-direction: column;
    }

    .login_main {
        flex: none;
        width: 100%;
        padding: 20px;
    }

    .login_img_wrapper {
        display: none; /* Hide image on smaller screens */
    }
}
/* 
background-image: url('../assets/Game.webp');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh; */

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.deck {
    position: absolute;
    top: 50%; /* Центруємо по вертикалі */
    transform: translateY(-50%); /* Для точного вирівнювання по центру */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.deck-count {
    color: white;
    font-size: 32px;
    margin-bottom: 100px;
}

.action-btn {
    position: absolute;
    padding: 10px 20px;
    background-color: #8b0000;
    color: #FFE3E3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Додає плавний перехід */
    font-family: 'jaro';
}

.action-btn:hover {
    background-color: #FF2525; /* Колір при наведенні */
}

#give-up {
    top: 20px;
    right: 20px;
    width: 180px;
    height: 60px;
    font-size: 28px;
    background-color: #490000; /* Основний колір */
    color: #FFE3E3; /* Колір тексту */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s; /* Плавний перехід кольору */
    box-shadow: inset 0 0 18px #6C0303; /* Внутрішня тінь */
}

#give-up:hover {
    background-color: #FF2525; /* Колір при наведенні */
}


.deck img {
    position: absolute;
    left: 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #4F0505, #440303); /* Вертикальний градієнт */
    position: fixed; /* Фіксуємо футер внизу */
    bottom: 0;
    left: 0;
    height: 80px; /* Висота футера */
    color: #FFE3E3;
    z-index: 10; /* Підвищений індекс для поверхневого розташування */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.health {
    font-size: 28px;
    font-weight: bold;
    color: #F2C629;
    text-shadow: 0 4px 12px rgba(70, 55, 0, 0.8);
}

#ready {
    width: 180px;
    height: 60px;
    right: 50px;
    font-size: 28px;
    background-color: #490000;
    color: #FFE3E3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: inset 0 0 18px #6C0303;
}

#ready:hover {
    background-color: #FF2525;
}

#waiting-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
}
  


#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

    /* background-color: #3a1414; */
  }
  
  #opponent-info {
    display: flex;
    align-items: center;
  }
  
  #opponent-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .action-btn {
    padding: 10px 20px;
    background-color: #d23f3f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-btn:hover {
    background-color: #e35b5b;
  }
/*   
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px 0;
  } */
  
  #game-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  #center-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 300px; */
    min-width: 420px;
    margin-top: -100px;
  }
  
  /* .center-slot {
    width: 100px;
    height: 150px;
    border: 2px dashed white;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
  } */
  
  #player-hand {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;  /* Allows cards to be flexible */
  }
  
  .card {
    width: 160px;
    height: 210px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .card.replacing {
    opacity: 0.7; /* Slightly transparent when it's replaceable */
  }
  
  .card.frozen {
    pointer-events: none; /* Disable interactions when frozen */
  }
  
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .card.dragging {
    opacity: 0.5;
  }
  
  .card-slot {
    width: 100px;
    height: 150px;
    border: 2px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* #footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a1414;
    padding: 0px 40px;
  } */
  
  #player-info {
    display: flex;
    align-items: center;
  }
  
  #player-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  #player-hand {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;  /* Allows cards to be flexible */
  }
  
  /* .card {
    width: 100px;
    height: 140px;
    cursor: grab;
    transition: transform 0.2s ease;
  } */
  
  .card.dragging {
    opacity: 0.5;
    transform: scale(1.1);  /* Scale card when dragging */
  }
  
  #player-slot, #opponent-slot {
    min-width: 184px;
    min-height: 224px;
    border: 2px dashed #ddd;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
  }
  
  #player-slot {
    border-color: rgba(172, 20, 0, 0.74);
  }
  
  #opponent-slot {
    border-color: rgba(90, 0, 0, 0.822);
  }

.player_name {
    font-size: 36px;
    font-weight: 600;
    font-family: 'jaro';
    color: #FFCECE;
}

.avatar {
    width: 75px;
    height: 75px;
}

/* .card {
    width: 100px;
    height: 140px;
    cursor: grab;
    transition: transform 0.2s ease;  /* Adjusts the scaling effect */
 /* } */
  
  .card.dragging {
    opacity: 0.5;
    transform: scale(1.1);  /* Enlarges the card when dragging */
  }

/* .wrapper {
    flex: 1; /* Allow this section to grow and fill available space */
    /* display: flex;
    justify-content: center;
    align-items: center;
} */ 

#footer-section {
    flex: 0 0 auto; /* Do not grow or shrink, take only its content size */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #4F0505, #440303);
    padding: 10px 40px;
    border-radius: 40px 40px 0 0;
    max-height: 90px;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .wrapper {
    flex: 1; /* Allow this to grow and fill space between header and footer */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-top: -10%;
  }

.footer_timer {
    font-size: 32px;
    background: #B93131;
    background: linear-gradient(to bottom, #B93131 27%, #FFD4D4 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 42px;
}

.deck_discard {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card_deck {
    left: 0;
}

.discard_pile {
    right: 0;
}


.timer {
    position: absolute;
    border: 5px solid green; /* Green border for the countdown */
    width: 180px; /* Match the width of the card in the play area */
    height: 230px; /* Match the height of the card in the play area */
    animation: countdown 5s linear forwards; /* Duration matches the countdown time */
    opacity: 1; /* Fully visible initially */
    pointer-events: none; /* Disable interactions */
  }
  
  @keyframes countdown {
    0% {
      transform: scale(1); /* Start at full size */
    }
    100% {
      transform: scale(0); /* Shrink to 0 size */
      opacity: 0; /* Fade out */
    }
  }

/* .card.frozen {
    opacity: 1; /* Fully visible after timer ends */
   /* pointer-events: none; /* Disable interactions */
 /* } */

 .countdown-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10;
  }
  